body {
    margin: 0;
}

.container {
    width: 100%;

}

.main-header {
    width: 100%;
    background-color: #445162;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}

.main-header-title {
    margin: 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.header-list {
    list-style-type: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.header-list-item {
    position: relative;
}

.header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    /* border: 1px solid white; */
    position: absolute;
    top: 7px;
    left: -37px;

    background-image: url(images/check%20icon.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-product-photo {
    display: block;
    background-color: #ffffff;
    width: 470px;
    height: 214px;
}

.container-about {
    width: 100%;

}

.about {
    width: 100%;
    background-color: #fff;
    min-height: 330px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.about-title {
    font-size: 30px;
    font-family: Arial;
    font-weight: 400;
    text-align: left;
    text-shadow: ;
    color: #445162;
    margin-top: 0px;

}

.about-text {
    width: 650px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #445162;
}

.about-product-photo {
    width: 430px;
    height: 242px;
    background-color: #445162;
}

/*.dignity { 
    width: 1280px;
    background-color: #f5f5f5;
    min-height: 415px;
    padding: 50px;
  
}

.dignity-list-text {
    width: 567px;
    
}

.container {
  width: 1280px;
  margin: 0 auto;
  border: 2px solid black;
  
}*/

.dignity {
    width: 100%;
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.dignity-title {
    display: block;
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 30px;
    font-family: "Arial";
    color: #445162;
    line-height: 36px;
}

.dignity-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.dignity-list-item {
    margin: 0 0 40px 0;
    width: 50%;
}

.dignity-list-text {
    margin: 0;
    padding: 0 0 0 46px;
    position: relative;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignity-list-item:nth-child(5),
.dignity-list-item:nth-child(6) {
    margin: 0;
}

.dignity-list-text:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 5px;
    left: 5px;


}






/*:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    /* border: 1px solid white; 
    position: absolute;
    top: 7px;
    left: -37px;*/


.scrinshots {
    width: 100%;
    padding: 50px;
    min-height: 520px;
    background-color: #fff;
    box-sizing: border-box;
}

.scrin-title {
    font-family: arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
    text-align: center;
}

.scrin-list {
    list-style-type: none;
    display: flex;
    padding-left: 0;

}

.scrin-list-item:before {
    content: "img";
    display: block;
    width: 200px;
    height: 150px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;

}


.lists {
    padding: 0 0 50px 0;

}

.scrin-list-title {
    margin-left: 215px;
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-top: 0;
    margin-bottom: 20px;
}




.scrin-text {
    margin-left: 215px;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 0;
    margin-right: 15px;
}



.reviews {
    width: 100%;
    padding: 50px;
    min-height: 400px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.reviews-list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.reviews-title {
    font-family: arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
    text-align: center
}


.reviews-list-item:before {
    content: "";
    color: #fff;
    text-align: center;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 45px;
    background-color: #445161;
    position: absolute;
}

.reviews-text {
    margin-left: 215px;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 0;
    margin-right: 15px;
}


.article-reviews {
    position: relative;
}

.autor-name {
    margin-top: 0;
    /* top: 15px; */
    /* display: inline-block; */
    position: absolute;
    bottom: 20px;
    left: 120px;
    font-size: 14px;
    line-height: 18px;
    color: #b0b0b0;
}

/*.reviews-text {
    margin-left: 100px;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 0;
    margin-right: 15px;
}*/


.article-reviews:after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 70px;
    bottom: 110px;
    /* Положение треугольника */
    border: 15px solid transparent;
    /* Прозрачные границы */
    border-right: 20px solid #ebebeb;
    /* Добавляем треугольник */
}

.reviews-text {
    margin-left: 100px;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 0;
    margin-right: 15px;
    background-color: #ebebeb;
    min-width: 470px;
    min-height: 120px;
    padding: 20px;
    border-radius: 5px;
}